h1 {
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.header {
    text-align: center;
    position: relative;
    margin-top: 2%;
}

.text-pos {
    text-align: center;
    position: relative;
    margin-top: 1%;
}

.input {
    width: 20%;
    margin: 0 auto;
}

.btninput {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button {
    background-color: steelblue;
    border-color: steelblue;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: slategray;
    border-color: slategray;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    background-color: steelblue;
    border-color: steelblue;
  }

.card {
    width: 60em;
    height: 30em;
    margin: 0 auto;
}
.metaCard {
    width: 15em;
    height: 7em;
    margin: 0 auto;
    border-radius: .75em;
    text-align: center;
    padding-top: 1em;
}
.metaCardDiv {
    padding-top: 2em;
    padding-bottom: 2em;
}

.cardTitle {
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-table {
    height: 30em; 
    overflow-x: scroll; 
    overflow-y: scroll;
    width: 60em;
  }
  
.toolCard {
    height: 42em;
    width: 60em;
    margin: 0 auto;
}

.cont {
    padding-top: 3em;
    padding-bottom: 10em;
    height: 30em;
    width: 60em;
    margin: 0 auto;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: white;
}

.inputRow {
    padding-top: .3em;
}

.leftidx {
    text-align: center;
    padding-top: 1.5em;
    font-size: large;
    font-weight: bold;
}

.labelCol {
    padding-top: 1.5em;
    font-size: large;
    font-weight: bold;
}

.matrix-table {
    height: 13em; 
    overflow-x: scroll; 
    overflow-y: scroll;
    width: 13em;
    padding-top: 1em;
  }

.matrixRow {
    padding-top: 1.5em;
    height: 13em;
}

.x {
    font-size: x-large;
    font-weight: bold;

}

.matrixRow {
    align-items: center;
}

.cardHelp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: .3em;
    padding-bottom: 1em;
}